In [1]:
import numpy as np
import pandas as pd

In [36]:
arr = np.arange(1,10)
col = ['A','B','C']
row= ['D','E','F']

In [37]:
arr = arr.reshape(3,3)

In [74]:
df = pd.DataFrame(arr,col,row)

In [76]:
df

   D  E  F
A  1  2  3
B  4  5  6
C  7  8  9

In [47]:
df.iloc[2]

D    7
E    8
F    9
Name: C, dtype: int64

In [35]:
type(df)

pandas.core.frame.DataFrame

In [48]:
df > 0

      D     E     F
A  True  True  True
B  True  True  True
C  True  True  True

In [52]:
df[df > 5]

     D    E    F
A  NaN  NaN  NaN
B  NaN  NaN  6.0
C  7.0  8.0  9.0

In [54]:
df['D'] > 1

A    False
B     True
C     True
Name: D, dtype: bool

In [55]:
df[df['D'] > 1]

   D  E  F
B  4  5  6
C  7  8  9

In [66]:
df[(df['F'] > 6) & (df['E'] > 9)]

Empty DataFrame
Columns: [D, E, F]
Index: []

In [68]:
df.reset_index()

  index  D  E  F
0     A  1  2  3
1     B  4  5  6
2     C  7  8  9

In [111]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
inside1 = [4,5,6,7,8,9]
hier_index = list(zip(outside,inside,inside1))
#hier_index = list(zip(zip((outside,inside),inside1))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [112]:
hier_index

MultiIndex([('G1', 1, 4),
            ('G1', 2, 5),
            ('G1', 3, 6),
            ('G2', 1, 7),
            ('G2', 2, 8),
            ('G2', 3, 9)],
           )

In [113]:
df= pd.DataFrame(np.random.randn(6,3),hier_index,['A','B','C'])

In [114]:
df

               A         B         C
G1 1 4  0.315590 -0.244858  1.670981
   2 5 -0.417799 -2.199425  1.222386
   3 6 -0.677196 -1.214007 -0.333201
G2 1 7  0.396181 -0.307874  0.518885
   2 8  0.650726 -0.436381  0.643749
   3 9 -0.226920  0.426970  0.705607

In [115]:
df.index

MultiIndex([('G1', 1, 4),
            ('G1', 2, 5),
            ('G1', 3, 6),
            ('G2', 1, 7),
            ('G2', 2, 8),
            ('G2', 3, 9)],
           )

In [127]:
df.xs('G1',level=1)

KeyError: 'G1'

In [128]:
df

               A         B         C
G1 1 4  0.315590 -0.244858  1.670981
   2 5 -0.417799 -2.199425  1.222386
   3 6 -0.677196 -1.214007 -0.333201
G2 1 7  0.396181 -0.307874  0.518885
   2 8  0.650726 -0.436381  0.643749
   3 9 -0.226920  0.426970  0.705607

In [129]:
df.dropna()

               A         B         C
G1 1 4  0.315590 -0.244858  1.670981
   2 5 -0.417799 -2.199425  1.222386
   3 6 -0.677196 -1.214007 -0.333201
G2 1 7  0.396181 -0.307874  0.518885
   2 8  0.650726 -0.436381  0.643749
   3 9 -0.226920  0.426970  0.705607

In [131]:
df = pd.DataFrame({'col1':[1,2,3] , 'col2':[4,5,6]})

In [133]:
df

   col1  col2
0     1     4
1     2     5
2     3     6

In [134]:
df['col1'].unique(
)

array([1, 2, 3])