In [1]:
import pandas as pd

In [5]:
data = pd.read_html("https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/")

In [6]:
data

[                         Bank NameBank           CityCity StateSt  CertCert  \
 0                       Signature Bank           New York      NY     57053
 1                  Silicon Valley Bank        Santa Clara      CA     24735
 2                    Almena State Bank             Almena      KS     15426
 3           First City Bank of Florida  Fort Walton Beach      FL     16748
 4                 The First State Bank      Barboursville      WV     14361
 ..                                 ...                ...     ...       ...
 560                 Superior Bank, FSB           Hinsdale      IL     32646
 561                Malta National Bank              Malta      OH      6629
 562    First Alliance Bank & Trust Co.         Manchester      NH     34264
 563  National State Bank of Metropolis         Metropolis      IL      3815
 564                   Bank of Honolulu           Honolulu      HI     21029

                  Acquiring InstitutionAI Closing DateClosing  FundFund
 0                    Flagstar Bank, N.A.      March 12, 2023     10540
 1    Firstâ€“Citizens Bank & Trust Company      March 10, 2023     10539
 2                            Equity Bank    October 23, 2020     10538
 3              United Fidelity Bank, fsb    October 16, 2020     10537
 4                         MVB Bank, Inc.       April 3, 2020     10536
 ..                                   ...                 ...       ...
 560                Superior Federal, FSB       July 27, 2001      6004
 561                    North Valley Bank         May 3, 2001      4648
 562  Southern New Hampshire Bank & Trust    February 2, 2001      4647
 563              Banterra Bank of Marion   December 14, 2000      4646
 564                   Bank of the Orient    October 13, 2000      4645

 [565 rows x 7 columns]]